.tag-common {
  --tab-border-top-color: #0078e7;
}

.tag-common.tabs {
  margin-bottom: 20px;
}

.tag-common.tabs,
.tabs-comment {
  padding-top: 10px;
}
.tag-common.tabs ul.nav-tabs,
.tabs-comment ul.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.tag-common.tabs ul.nav-tabs li.tab,
.tabs-comment ul.nav-tabs li.tab {
  margin-top: 0;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 3px solid transparent;
  flex-grow: 1;
  list-style-type: none;
  border-radius: 2px 2px 0 0;
  transition: all 0.2s ease-out;
}
.tag-common.tabs ul.nav-tabs li.tab a,
.tabs-comment ul.nav-tabs li.tab a {
  display: block;
  color: #666;
  border-bottom: initial;
  line-height: 1.8;
  padding: 0.25em 0.75em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.tag-common.tabs ul.nav-tabs li.tab a::before,
.tabs-comment ul.nav-tabs li.tab a::before {
  display: none;
}
.tag-common.tabs ul.nav-tabs li.tab a i,
.tabs-comment ul.nav-tabs li.tab a i {
  width: 1.2857142857em;
}
.tag-common.tabs ul.nav-tabs li.tab.active,
.tabs-comment ul.nav-tabs li.tab.active {
  border-bottom-color: transparent;
  border-left-color: lightgray;
  border-right-color: lightgray;
  border-top-color: var(--tab-border-top-color);
}
.tag-common.tabs ul.nav-tabs li.tab.active a,
.tabs-comment ul.nav-tabs li.tab.active a {
  color: var(--tab-border-top-color);
  cursor: default;
}
.tag-common.tabs .tab-content,
.tabs-comment .tab-content {
  border: 1px solid lightgray;
  border-top-color: transparent;
  border-radius: 0 0 2px 2px;
}
.tag-common.tabs .tab-content .tab-pane,
.tabs-comment .tab-content .tab-pane {
  padding: 0.5rem 1rem;
}
.tag-common.tabs .tab-content .tab-pane:not(.active),
.tabs-comment .tab-content .tab-pane:not(.active) {
  display: none;
}
